{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Tweet Analyzer</h1>
    <h4 style="text-align: center">Enter any topic for tweet analysis.</h4>
    <p>See the 10 most recent tweets below for a comparison between the Textblob and VADER sentiment algorithms.</p>
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <form action="/" method="POST">
        <input placeholder="McDonald's" type="text" name="content" id="content">
        <input type="submit" value="Analyze">
    </form>
    <br>
    <p>Topic entered: {{ topicName }}</p>
    <table>
        <tr>
            <th>Username</th>
            <th>Tweet</th>
            <th>Date and Time of Tweet</th>
            <th>Textblob Sentiment</th>
            <th>VADER Sentiment</th>
        </tr>
        {% for tweet in tweets %}
            <tr>
                <td>{{ tweet.username }}</td>
                <td>{{ tweet.text }}</td>
                <td>{{ tweet.date }}</td>
                <td>{{ textblobGetLabel(tweet.text) }}</td>
                <td>{{ vaderGetLabel(tweet.text) }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}